img {
  height: 300px;
  width: 30%;
  margin: 0 auto;
  border: 3px solid black;

}

body{
  text-align: center;
  margin: 0 auto;
  width: 90%;
  background-color: #005695;
}
#left {
  height: 300px;
  width: 30%;
  display: inline;
  margin: 0 auto;
}

#right{
  height: 300px;
  width: 30%;
  display: inline;
  margin: 0 auto;
}

#center {
  height: 300px;
  width: 30%;
  display: inline;
  margin: 0 auto;
}

h1{
  font-family: 'Baloo', cursive;
  font-size: 60px;
  color: #5D9732;
}

h2{
  font-family: 'Comfortaa', cursive;
  color: #132530;
}
